@import '../../abstracts/variables';
@import '../../abstracts/placeholders';

.review-card {
  &__place {
    @extend %text-format-bold-24;
    margin-bottom: 5px;
  }
  &__content {
    @extend %text-format-normal-18;
  }

  &__footer {
    display: flex;
    position: absolute;
    bottom: 0;

    &-author {
      font-size: 14px;
    }

    &-date {
      color: $body-background-color;
      font-size: 14px;
      padding-left: 28px;
    }

    &-icon {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }
}
